nav {
  background-color:transparent !important;
}

ul li a {
  color:black;
  font-weight:bold;
}

.nav-wrapper > a {
  color:#42342F;
  font-family: 'Bubblegum Sans', cursive;
  margin-left:50px;
}

.container {
  text-align:center;
}

p {
  font-size:13px !important;
}

h6 {
  font-weight:bold;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  color:#203340;
}

h4 {
  color:#DC0809;
}

hr {
  border:1px dotted;
}


/* Header style*/
.container-fluid {
  position:relative;
}

.header-txt {
    left: 0;
    right: 0;
    margin:auto;

  position:absolute;
  top:120px;
  text-align:center;
}

strong {
  color:white;
  font-size:78px;
  font-family: 'Raleway', sans-serif;
  text-shadow: 1px 1px 2px #E3D9BB;
}

aside {
  color:white;
  font-size:20px;
  font-family: 'Josefin Sans', sans-serif;
  margin-bottom:30px;
}

.btn-large {
  text-transform:none;
}
/*end for header style*/


.materialboxed {
  margin-top:20px !important;
  margin-bottom:20px !important;
}

.myPic {
  width:180px;
  height:180px;
}

.send-button {
  font-family: 'Josefin Sans', sans-serif;
  font-weight:bold;
  font-size:13px !important;
}

span.footer {
  font-size:14px !important;
}

span {
  line-height:30px;
  font-family: 'Raleway', sans-serif;
  font-size:14px;
}

em {
  color:#1D7C80;
}

/*when scrolling*/
nav.scrolled {
  background-color: white !important;
  transition: background-color 700ms linear;
}


/*modified input-type/textarea color*/
/* label color */
  .input-field label {
    color: black;
  }
  /* label focus color */
  textarea:focus + label, .input-field input[type=text]:focus + label {
    color: black !important;
  }
  /* label underline focus color */
  textarea:focus, .input-field input[type=text]:focus {
    border-bottom: 1px solid black !important;
    box-shadow: 0 1px 0 0 black !important;
  }

  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #565656;
  }
